{{#each this}}
    <div>
        <h1>"{{name}}"</h1>
        <ul>
            <li>Capital: "{{capital}}"</li>
            <li>Population: "{{population}}"</li>
            <li>Languages:
                <ul>
                    <li>"{{lang}}"</li>
                </ul>
            </li>
        </ul>
        <img src="" alt="" width="480">
    </div>
{{/each}}